<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Manifester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Manifester.Properties.Settings>
            <setting name="output" serializeAs="String">
                <value />
            </setting>
            <setting name="dataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="projectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="patcherExe" serializeAs="String">
                <value />
            </setting>
            <setting name="destPath" serializeAs="String">
                <value />
            </setting>
        </Manifester.Properties.Settings>
    </userSettings>
</configuration>
