<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Patcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Patcher.Properties.Settings>
            <setting name="useSteam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="lastServerIdx" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="manualInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manualA2Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="manualA2OADir" serializeAs="String">
                <value />
            </setting>
        </Patcher.Properties.Settings>
    </userSettings>
</configuration>
